title = "Home"
url = "/"
layout="default"
is_hidden = 0

[Catalog]

[Order]
==
function onStart() {
    $this->page->noPadding = true;
}
==
{% set categories = Catalog.getCategories %}
<div class="block-outter" style="background-image:url('https://d1ph5asdd1yatk.cloudfront.net/phoenix/img/background_pulsa.png'); background-repeat: no-repeat; background-size: cover">
    <div class="container">
        <div class="block-service">
            <div class="service-title">
                <h1>Jual Internet Murah, 30 Detik Transaksi Sukses!</h1>
            </div>

            <form data-request="Order::onOrder" data-request-flash>
                <div class="service-body mg-b-20">
                    <div class="form-group">
                        <label class="is-required">JENIS PRODUK</label>
                        <select name="category_id" class="form-control"
                            data-request="Catalog::onGetProduct"
                            data-request-update="'catalog/list-product': '[data-target-products]', 'catalog/list-product-item': '[data-target-product-items]', 'catalog/list-product-item-price': '[data-target-product-item-price]'">
                            <option value="">-- Pilih Produk --</option>
                            {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div data-target-products>
                        {% partial 'catalog/list-product' %}
                    </div>

                    <div data-target-product-items>
                        {% partial 'catalog/list-product-item'%}
                    </div>

                    <div data-target-product-item-price>
                        {% partial 'catalog/list-product-item-price'%}
                    </div>

                    <div class="form-group">
                        <label class="is-required">No. Telefon</label>
                        <input name="phone" type="text" class="form-control" placeholder="08xxx">
                    </div>

                    <div class="form-group">
                        <label class="is-required">Email</label>
                        <input name="email" type="email" class="form-control">
                    </div>
                </div>

                <div class="text-right">
                    <button class="btn btn-primary" type="submit" data-attach-loading>CHECKOUT <i class="fa fa-chevron-right"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>
