title = "Masuk"
url = "/login"
is_hidden = 0

[Auth]
==

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="images/favicon.png" type="image/png">

  <title>Masuk</title>

    <!-- App Styles -->
    <link href="{{ [
        '@framework.extras',
        'assets/bracket/css/style.default.css',
        'assets/bracket/css/style.darkknight.css',
    ]|theme }}" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head>

<body class="signin">


<section>
    <div class="signinpanel">
        <div class="row">
            <div class="col-md-7">
            </div>

            <div class="col-md-5">
                <form data-request="Auth::onLogin" data-request-flash>
                    <h4 class="nomargin">Sign In</h4>
                    <p class="mt5 mb20">Login to access your account.</p>

                    <input type="email" name="email" class="form-control uname" placeholder="Email" />
                    <input type="password" name="password" class="form-control pword" placeholder="Password" />

                    <button class="btn btn-success btn-block" type="submit" data-attach-loading>Sign In</button>
                </form>
            </div><!-- col-sm-5 -->

        </div><!-- row -->

        <div class="signup-footer"></div>
    </div><!-- signin -->
</section>

    <script src="{{ [
        '@jquery',
        '@framework',
        '@framework.extras',

        '../../bower_components/bootstrap/js/transition.js',
        '../../bower_components/bootstrap/js/alert.js',
        '../../bower_components/bootstrap/js/button.js',
        '../../bower_components/bootstrap/js/carousel.js',
        '../../bower_components/bootstrap/js/collapse.js',
        '../../bower_components/bootstrap/js/dropdown.js',
        '../../bower_components/bootstrap/js/modal.js',
        '../../bower_components/bootstrap/js/tooltip.js',
        '../../bower_components/bootstrap/js/popover.js',
        '../../bower_components/bootstrap/js/tab.js',

        'assets/bracket/js/custom.js',
    ]|theme }}"></script>

    {% scripts %}

    {% partial 'tracker' %}

    {% partial 'flash' %}

</body>
</html>
