<div class="form-group">
    <label class="is-required">Nama</label>
    <input name="name" type="text" class="form-control" value="{{ product.name }}">
</div>

<div class="form-group">
    <label class="is-required">Mikrotik?</label>
     <select name="is_mikrotik" class="form-control">
        <option value="">-- Pilih --</option>
        <option value="1" {{ product.is_mikrotik == 1 ? 'selected' : '' }}>Ya</option>
        <option value="0" {{ product.is_mikrotik == 0 ? 'selected' : '' }}>Tidak</option>
    </select>
</div>

<div class="form-group">
    <label class="is-required">Status</label>
    <select name="is_published" class="form-control">
        <option value="">-- Pilih --</option>
        <option value="1" {{ product.is_published == 1 ? 'selected' : '' }}>Terlihat</option>
        <option value="0" {{ product.is_published == 0 ? 'selected' : '' }}>Tersembunyi</option>
    </select>
</div>
