<div class="pd-t-10 mg-b-20" style="background: #f5f5f5">
    <div class="container-fluid">
        <div class="row bs-wizard" style="border-bottom:0;">
            <div class="col-xs-4 bs-wizard-step {{ step1 ? 'active' : '' }} {{ step2 or step3 ? 'complete' : '' }}">
              <div class="text-center bs-wizard-stepnum">PEMESANAN</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <a href="#" class="bs-wizard-dot"></a>
              <div class="bs-wizard-info text-center">Lengkapi Pemesanan</div>
            </div>

            <div class="col-xs-4 bs-wizard-step {{ step2 ? 'active' : '' }} {{ step3 ? 'complete' : '' }}">
              <div class="text-center bs-wizard-stepnum">PEMBAYARAN</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <a href="#" class="bs-wizard-dot"></a>
              <div class="bs-wizard-info text-center">Informasi Pembayaran</div>
            </div>

            <div class="col-xs-4 bs-wizard-step {{ step3 ? 'complete' : '' }}">
              <div class="text-center bs-wizard-stepnum">SELESAI</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <a href="#" class="bs-wizard-dot"></a>
              <div class="bs-wizard-info text-center">Pemesanan Selesai</div>
            </div>
        </div>
    </div>
</div>
