<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

        {% if new %}
        <h4 class="modal-title text-center">BUAT USER</h4>
        {% endif %}

        {% if update %}
        <h4 class="modal-title text-center">UBAH USER</h4>
        {% endif %}

        {% if update_password %}
        <h4 class="modal-title text-center">UBAH PASSWORD</h4>
        {% endif %}
    </div>
    <div class="modal-body">
        {% if new %}
        <form data-request="AdminUser::onSave" data-request-flash>
            <div class="form-group">
                <label class="is-required">Email</label>
                <input name="email" type="email" class="form-control">
            </div>

            <div class="form-group">
                <label class="is-required">Password</label>
                <input name="password" type="password" class="form-control">
            </div>

            <div class="form-group">
                <label class="is-required">Ulangi Password</label>
                <input name="retype_password" type="password" class="form-control">
            </div>

            <hr>
            <button class="btn btn-primary btn-block" type="submit" data-attach-loading>SIMPAN</button>
        </form>
        {% endif %}

        {% if update_password %}
        <form data-request="AdminUser::onUpdatePassword" data-request-flash>
            <div class="form-group">
                <label class="is-required">Password Lama</label>
                <input name="password_old" type="password" class="form-control">
            </div>

            <div class="form-group">
                <label class="is-required">Password Baru</label>
                <input name="password_new" type="password" class="form-control">
            </div>

            <div class="form-group">
                <label class="is-required">Ulangi Password</label>
                <input name="retype_password" type="password" class="form-control">
            </div>

            <hr>
            <button class="btn btn-primary btn-block" type="submit" data-attach-loading>SIMPAN</button>
        </form>
        {% endif %}
    </div>
</div>
