title = "Selesai"
url = "/finish/:parameter?"
layout="default"

[Finish]
parameter="{{ :parameter }}"

[IsCompleteCheckout]
parameter="{{ :parameter }}"
==

{% partial 'checkout/step' step3=true %}
<div class="container mg-b-40">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="page-header mg-t-0 mg-b-0" style="padding-left: 5px">
                <h4>Informasi Pemesanan</h4>
            </div>
            <table class="table" id="clockdiv">
                {% if order.status == 'waiting' %}
                <tr>
                    <th>Batas Pembayaran</th>
                    <td class="text-right">
                        <span class="days"></span> h : <span class="minutes"></span> m : <span class="seconds"></span> d
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <th>Status Transaksi</th>
                    <td class="text-right">{{ order.status|capitalize }}</td>
                </tr>
                <tr>
                    <th>Kode Pemesanan</th>
                    <td class="text-right">{{ order.order_no }}</td>
                </tr>
                <tr>
                    <th>Produk</th>
                    <td class="text-right">{{ order.item.product.name }}</td>
                </tr>
                <tr>
                    <th>Total Harga</th>
                    <th class="text-right">Rp. {{ order.price|number_format }}</th>
                </tr>
            </table>


            <div class="page-header mg-b-0" style="padding-left: 5px">
                <h4>Log Pemesanan</h4>
            </div>
            <table class="table">
                {% for key, log in order.logs %}
                <tr>
                    <td>{{ log.created_at|date('l, d F Y h:i') }}</td>
                    <td class="text-right">
                        {% if key == 0 %}
                            Pemesanan di buat
                        {% else %}
                            Pemesanan berubah menjadi {{ log.body.status }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                {% if order.status != 'waiting' %}
                <tr>
                    <td>{{ order.logs.last.created_at|date('l, d F Y h:i') }}</td>
                    <td class="text-right">Pemesanan Selesai</td>
                </tr>
                {% endif %}
            </table>
        </div>
        <div class="col-xs-6 col-xs-offset-3">
            <div class="row">
                <div class="col-xs-12">
                    <hr>
                </div>
                <div class="col-xs-6">
                    <a href="{{ 'checkout/invoice'|page({parameter: order.parameter}) }}" class="btn btn-block btn-danger" target="_blank">
                        <i class="fa fa-file-pdf-o"></i> UNDUH RINGKASAN
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="{{ 'home'|page }}" class="btn btn-block btn-primary">
                        KEMBALI BELANJA <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="result-json"></div>
</div>

{% if order.status == 'waiting' %}
{% put scripts %}
<script>
function getTimeRemaining(endtime) {
    var t       = Date.parse(endtime) - Date.parse(new Date());
    var seconds = Math.floor((t / 1000) % 60);
    var minutes = Math.floor((t / 1000 / 60) % 60);
    var hours   = Math.floor((t / (1000 * 60 * 60)) % 24);
    var days    = Math.floor(t / (1000 * 60 * 60 * 24));

    return {
        'total': t,
        'days': days,
        'hours': hours,
        'minutes': minutes,
        'seconds': seconds
    };
}

function initializeClock(id, endtime) {
  var clock       = document.getElementById(id);
  var daysSpan    = clock.querySelector('.days');
  var minutesSpan = clock.querySelector('.minutes');
  var secondsSpan = clock.querySelector('.seconds');

  function updateClock() {
    var t = getTimeRemaining(endtime);

    daysSpan.innerHTML      = t.days;
    minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
    secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

    if (t.total <= 0) {
      clearInterval(timeinterval);
    }
  }

  updateClock();
  var timeinterval = setInterval(updateClock, 1000);
}

var deadline = new Date("{{ order.expired_at|date('Y/m/d H:i:s') }}");
initializeClock('clockdiv', deadline);
</script>
{% endput %}
{% endif %}
