title = "Checkout"
url = "/checkout/:parameter"
layout="default"

[Checkout]
parameter="{{ :parameter }}"
==

{% partial 'checkout/step' step1=true %}
<div class="container">
    <form data-request="Checkout::onCheckout" data-request-flash>
        <div class="row">
            <div class="col-sm-6 col-sm-push-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4 class="mg-0 mg-b-30">RINCIAN PEMESANAN</h4>

                        <table class="table" id="clockdiv">
                            <tr>
                                <th>Batas Pemesanan</th>
                                <td class="text-right">
                                    <span class="minutes"></span> m : <span class="seconds"></span> d
                                </td>
                            </tr>
                            <tr>
                                <th>Kode Pemesanan</th>
                                <td class="text-right">{{ order.order_no }}</td>
                            </tr>
                            <tr>
                                <th>Produk</th>
                                <td class="text-right">{{ order.item.product.name }}</td>
                            </tr>
                            <tr>
                                <th>Total Harga</th>
                                <th class="text-right">Rp. {{ order.price|number_format }}</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-sm-pull-6">
                <div class="page-header mg-t-0">
                    <h3>Informasi Pemesanan</h3>
                </div>

                <div class="form-group">
                    <label class="is-required">Nama</label>
                    <input name="name" type="text" class="form-control" value="{{ order.order_name }}">
                </div>

                <div class="form-group">
                    <label class="is-required">No. Telefon</label>
                    <input name="phone" type="text" class="form-control" value="{{ order.order_phone }}">
                </div>

                <div class="form-group">
                    <label class="is-required">Email</label>
                    <input name="email" type="email" class="form-control" value="{{ order.order_email }}">
                </div>
            </div>
        </div>
        <hr>
        <div class="text-right">
            <button class="btn btn-primary" type="submit" data-attach-loading>PEMBAYARAN <i class="fa fa-chevron-right"></i></button>
        </div>
    </form>
</div>


{% put scripts %}
<script>
function getTimeRemaining(endtime) {
    var t       = Date.parse(endtime) - Date.parse(new Date());
    var seconds = Math.floor((t / 1000) % 60);
    var minutes = Math.floor((t / 1000 / 60) % 60);
    var hours   = Math.floor((t / (1000 * 60 * 60)) % 24);
    var days    = Math.floor(t / (1000 * 60 * 60 * 24));

    return {
        'total': t,
        'days': days,
        'hours': hours,
        'minutes': minutes,
        'seconds': seconds
    };
}

function initializeClock(id, endtime) {
  var clock       = document.getElementById(id);

  var minutesSpan = clock.querySelector('.minutes');
  var secondsSpan = clock.querySelector('.seconds');

  function updateClock() {
    var t = getTimeRemaining(endtime);

    minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
    secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

    if (t.total <= 0) {
      clearInterval(timeinterval);
    }
  }

  updateClock();
  var timeinterval = setInterval(updateClock, 1000);
}

var deadline = new Date("{{ order.expired_at|date('Y/m/d H:i:s') }}");
initializeClock('clockdiv', deadline);
</script>
{% endput %}
