title = "Pembayaran"
url = "/payment/:parameter"
layout="default"

[Payment]
parameter="{{ :parameter }}"

[IsCompleteCheckout]
parameter="{{ :parameter }}"
==
{% partial 'checkout/step' step2=true %}
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <table class="table" id="clockdiv">
                <tr>
                    <th>Nomor Order</th>
                    <th class="text-right">{{ order.order_no }}</th>
                </tr>
                <tr>
                    <th>Nomor Hp</th>
                    <td class="text-right">{{ order.order_phone }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td class="text-right">{{ order.order_email }}</td>
                </tr>
                <tr>
                    <th>Produk</th>
                    <td class="text-right">{{ order.item.product.name }}: {{ order.item.name }}</td>
                </tr>

                <tr>
                    <th>Total Harga</th>
                    <th class="text-right">Rp. {{ order.price|number_format }}</th>
                </tr>
            </table>

            <div class="text-center">
                <button class="btn btn-primary" type="button" data-loading-text="Memproses..." data-button-snap>BAYAR <i class="fa fa-chevron-right"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalRedirecting">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class="fa fa-spin fa-spinner fa-3x"></i>
                <p class="lead mg-0 mg-t-10">Mengarahkan kamu ke halaman selanjutnya.</p>
            </div>
        </div>
    </div>
</div>

{% put scripts %}
{% if midtrans_mode == 'development' %}
<script src="https://app.sandbox.midtrans.com/snap/snap.js" data-client-key="{{ this.page.vt_client }}"></script>
{% endif %}

{% if midtrans_mode == 'production' %}
<script src="https://app.midtrans.com/snap/snap.js" data-client-key="{{ this.page.vt_client }}"></script>
{% endif %}

<script type="text/javascript">
$('body').on('click', '[data-button-snap]', function(){
    var button = $(this);
    button.button('loading');

    snap.pay('{{ snapToken }}', {
        onSuccess: function(response){
            $('#modalRedirecting').modal({backdrop: 'static', keyboard: false}).modal('show');
            setTimeout(function(){
                window.location = '{{ redirectUrl }}';
            }, 3000);
            button.button('reset');
        },
        onPending: function(response){
            $('#modalRedirecting').modal({backdrop: 'static', keyboard: false}).modal('show');
            setTimeout(function(){
                window.location = '{{ redirectUrl }}';
            }, 3000);
            button.button('reset');
        },
        onError: function(response){
            $('#modalRedirecting').modal({backdrop: 'static', keyboard: false}).modal('show');
            setTimeout(function(){
                window.location = '{{ redirectUrl }}';
            }, 3000)
            button.button('reset');
        },
        onClose: function(response){
            button.button('reset');
        }
    });
})
</script>
{% endput %}
