[viewBag]

==
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                Copyright &copy; 2017 &mdash; Rakki Technocom
            </div>
        </div>
    </div>
</footer>
