[viewBag]

[staticMenu mainMenu]
code = "main-menu"

==
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ 'home'|page }}">RAKKI TECHNOCOM</a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ 'home'|page }}">HOME</a>
                </li>
                <li>
                    <a href="{{ 'commerce/track'|page }}">CEK TRANSAKSI</a>
                </li>
                <li>
                    <a href="{{ 'commerce/index'|page }}">LOG TRANSAKSI</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
