{% set paginationEnabled = products.currentPage > 1 or products.lastPage > 1 or products.lastPage > products.currentPage %}
<div class="text-center">
    <ul class="pagination">
        {% if products.currentPage > 1 %}
            <li>
                <a href="{{ products.url(products.currentPage - 1) }}">
                    &larr; Previous
                </a>
            </li>
        {% else %}
            <li class="disabled">
                <span>
                    &larr; Previous
                </span>
            </li>
        {% endif %}
        {% if products.lastPage > 1 %}
            {% for page in 1..products.lastPage %}
                <li class="{{ page == products.currentPage ? 'active' }}">
                    <a href="{{ products.url(page) }}">{{ page }}</a>
                </li>
            {% endfor %}
        {% endif %}
        {% if products.lastPage > products.currentPage %}
            <li>
                <a href="{{ products.url(products.currentPage + 1) }}">
                    Next &rarr;
                </a>
            </li>
        {% else %}
            <li class="disabled">
                <span>
                    Next &rarr;
                </span>
            </li>
        {% endif %}
    </ul>
</div>
