<div class="form-group">
    <label class="is-required">PROVIDER</label>
    <select name="product_id" class="form-control"
        data-request="Catalog::onGetProductItem"
        data-request-update="'catalog/list-product-item': '[data-target-product-items]'">
        <option value="">-- Pilih --</option>
        {% for product in products %}
        <option value="{{ product.id }}">{{ product.name }}</option>
        {% endfor %}
    </select>
</div>
