<div class="form-group">
    <label class="is-required">NOMINAL</label>
    <select name="item_id" class="form-control"
        data-request="Catalog::onGetProductItemPrice"
        data-request-update="'catalog/list-product-item-price': '[data-target-product-item-price]'">
        <option value="">-- Pilih --</option>
        {% for product in products %}
        <option value="{{ product.id }}">{{ product.name }}</option>
        {% endfor %}
    </select>
</div>
