{% if order %}
    <div class="mg-b-40">
        <div class="page-header mg-0">
            <h2>Informasi Pembeli</h2>
        </div>
        <table class="table">
            <tr>
                <th>Nama</th>
                <td class="text-right">{{ order.order_name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td class="text-right">{{ order.order_email }}</td>
            </tr>
            <tr>
                <th>No. Telefon</th>
                <td class="text-right">{{ order.order_phone }}</td>
            </tr>
        </table>
    </div>

    <div class="mg-b-40">
        <div class="page-header mg-0">
            <h2>Informasi Pemesanan</h2>
        </div>
        <table class="table">
            <tr>
                <th>Nomor Pemesanan</th>
                <td class="text-right">{{ order.order_no }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td class="text-right">{{ order.status|capitalize }}</td>
            </tr>
            <tr>
                <th>Tanggal</th>
                <td class="text-right">{{ order.created_at|date('l, d F Y H:i') }}</td>
            </tr>
            <tr>
                <th>Produk</th>
                <td class="text-right">{{ order.product_category }}</td>
            </tr>
            <tr>
                <th>Nama Produk</th>
                <td class="text-right">{{ order.product_name }}</td>
            </tr>
            <tr>
                <th>Produk</th>
                <td class="text-right">{{ order.product_item }}</td>
            </tr>
            <tr>
                <th>Harga</th>
                <td class="text-right">Rp. {{ order.price|number_format }}</td>
            </tr>
        </table>
    </div>
{% else %}
    {% partial 'no-content' message='Pemesanan tidak ditemukan' %}
{% endif %}
