{% set commerces = orders %}
{% if find %}
    {% if commerces|length %}
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Order No.</th>
                    <th>Transaksi</th>
                    <th>Nomor Hp</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for commerce in commerces %}
                <tr>
                    <td>{{ commerce.order_no }}</td>
                    <td>{{ commerce.created_at|date('l, d F Y H:i') }}</td>
                    <td>{{ commerce.order_phone|phone_mask }}</td>
                    <td>
                        {% if commerce.status == 'hold' %}
                        <label class="label label-info">Menunggu Pemesanan</label>
                        {% endif %}

                        {% if commerce.status == 'waiting' %}
                        <label class="label label-warning">Menunggu Pembayaran</label>
                        {% endif %}

                        {% if commerce.status == 'success' or commerce.status == 'settlement' %}
                        <label class="label label-success">Berhasil</label>
                        {% endif %}

                        {% if commerce.status == 'cancel' %}
                        <label class="label label-danger">Dibatalkan</label>
                        {% endif %}

                        {% if commerce.status == 'expired' %}
                        <label class="label label-danger">Tidak berlaku</label>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ 'checkout/finish'|page({parameter: commerce.parameter}) }}" target="_blank" class="small">
                            Detail
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="text-center">
            <i class="fa fa-4x fa-meh-o"></i>
            <p class="lead">Transaksi tidak ditemukan </p>
        </div>
    {% endif %}
{% endif %}
