<div class="form-group">
    <label class="is-required">Produk</label>
    <select name="category_id" class="form-control">
        <option value="">-- Pilih --</option>
        {% for category in categories %}
        <option value="{{ category.id }}" {{ product.category_id == category.id ? 'selected' : '' }}>{{ category.name }}</option>
        {% endfor %}
    </select>
</div>

<div class="form-group">
    <label class="is-required">Nama</label>
    <input name="name" type="text" class="form-control" value="{{ product.name }}">
</div>

<div class="form-group">
    <label class="is-required">Kode</label>
    <input name="code" type="text" class="form-control" value="{{ product.code }}">
</div>

<div class="form-group">
    <label class="is-required">Deskripsi</label>
    <textarea name="description" cols="30" rows="10" class="form-control">{{ product.description }}</textarea>
</div>

<div class="form-group">
    <label class="is-required">Status</label>
    <select name="is_published" class="form-control">
        <option value="">-- Pilih --</option>
        <option value="1" {{ product.is_published == 1 ? 'selected' : '' }}>Terlihat</option>
        <option value="0" {{ product.is_published == 0 ? 'selected' : '' }}>Tersembunyi</option>
    </select>
</div>
