<ul class="nav nav-tabs" role="tablist">
	<li role="presentation" class="{{ this.page.activeMaster == 'master-user' ? 'active' : '' }}">
		<a href="{{ 'admin/master-user-index'|page }}">Users</a>
	</li>
	<li role="presentation" class="{{ this.page.activeMaster == 'master-produk' ? 'active' : '' }}">
		<a href="{{ 'admin/master-product-index'|page }}">Produk</a>
	</li>
	<li role="presentation" class="{{ this.page.activeMaster == 'master-provider' ? 'active' : '' }}">
		<a href="{{ 'admin/master-provider-index'|page }}">Provider</a>
	</li>
	<li role="presentation" class="{{ this.page.activeMaster == 'master-nominal' ? 'active' : '' }}">
		<a href="{{ 'admin/master-price-index'|page }}">Nominal</a>
	</li>
</ul>
