<body offset="0" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; Margin: 0; min-width: 100%; padding: 0; width: 100% !important; background-color: #dbe5ea;" topmargin="0" marginwidth="0" marginheight="0" leftmargin="0">
    <!-- header_button -->
    <table style="border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; width: 100%;" width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
            <tr>
                <td style="box-sizing: border-box; vertical-align: top; font-size: 0 !important; line-height: 100%; padding-left: 16px; padding-right: 16px; text-align: center; padding-top: 32px; background-color: #dbe5ea;">
                    <!--[if (mso)|(IE)]><table width="632" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:632px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
                    <div style="box-sizing: border-box; display: inline-block; font-size: 0; min-width: 0 !important; vertical-align: top; width: 100%; Margin: 0 auto; max-width: 632px; text-align: center; line-height: inherit;">
                        <table style="border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; width: 100%;" width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td style="box-sizing: border-box; vertical-align: top; min-width: 0 !important; width: 100%; font-size: 0; padding-left: 16px; padding-right: 16px; text-align: center; background-color: #475359; border-radius: 4px 4px 0 0; padding-top: 16px; padding-bottom: 16px; line-height: inherit;">
                                        <!-- col-2-4 -->
                                        <div style="box-sizing: border-box; display: block; font-size: 0; min-width: 0 !important; vertical-align: top; width: 100%; Margin: 0 auto; clear: both; max-width: 600px !important; text-align: center; line-height: inherit;">
                                        <!--[if (mso)|(IE)]><table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:600px;Margin:0 auto;"><tbody><tr><td width="200" style="width:200px;line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
                                            <div style="box-sizing: border-box; display: inline-block; font-size: 0; min-width: 0 !important; vertical-align: top; width: 100%; max-width: 200px; line-height: inherit;">
                                                <table style="border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; width: 100%;" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td style="box-sizing: border-box; vertical-align: top; min-width: 100%; width: 100%; padding-bottom: 0; padding-top: 8px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; font-size: 16px; line-height: 100%; mso-line-height-rule: exactly; text-align: left; padding-left: 16px; padding-right: 16px;"><a target="_blank" href="#" style="text-decoration: none; line-height: inherit; color: #ffffff;"><img src="https://careinstitute.dev/themes/careinstitute/assets/images/mail/logo_white.png" alt="RAKKI TECHNOCOM" style="-ms-interpolation-mode: bicubic; border: 0; clear: both; line-height: 100%; outline: none; text-decoration: none; height: auto !important; max-width: 168px;" width="130" height="30"></a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                      <!--[if (mso)|(IE)]></td><td width="400" style="width:400px;line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->

                                        <div style="box-sizing: border-box; display: inline-block; font-size: 0; min-width: 0 !important; vertical-align: top; width: 100%; max-width: 400px; line-height: inherit;">

                                            </div><!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
                </td>
            </tr>
        </tbody>
    </table>

    <!-- jumbotron_dark_button -->
    <table style="border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; width: 100%;" width="100%" cellspacing="0" cellpadding="0" border="0">
     <tbody>
         <tr>
             <td style="box-sizing: border-box; vertical-align: top; font-size: 0 !important; line-height: 100%; padding-left: 16px; padding-right: 16px; text-align: center; background-color: #dbe5ea;">
                 <!--[if (mso)|(IE)]><table width="632" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:632px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
                 <div style="box-sizing: border-box; display: inline-block; font-size: 0; min-width: 0 !important; vertical-align: top; width: 100%; Margin: 0 auto; max-width: 632px; text-align: center; line-height: inherit;">
                     <table style="border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; width: 100%;" width="100%" cellspacing="0" cellpadding="0" border="0">
                         <tbody>
                             <tr>
                                 <td style="box-sizing: border-box; vertical-align: top; min-width: 0 !important; width: 100%; font-size: 0; padding-left: 16px; padding-right: 16px; text-align: center; background-color: #475359; line-height: inherit;">
                                     <!-- col-6 -->
                                     <div style="box-sizing: border-box; display: block; font-size: 0; min-width: 0 !important; vertical-align: top; width: 100%; Margin: 0 auto; clear: both; max-width: 600px !important; text-align: center; line-height: inherit;">
                                     <!--[if (mso)|(IE)]><table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:600px;Margin:0 auto 0 0;"><tbody><tr><td width="600" style="width:600px;line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
                                         <div style="box-sizing: border-box; display: inline-block; font-size: 0; min-width: 0 !important; vertical-align: top; width: 100%; max-width: 600px; line-height: inherit;">
                                             <table style="border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; width: 100%;" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                 <tbody>
                                                     <tr>
                                                         <td style="box-sizing: border-box; vertical-align: top; min-width: 100%; width: 100%; padding-bottom: 32px; padding-top: 32px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; font-size: 16px; line-height: 23px; mso-line-height-rule: exactly; text-align: center; padding-left: 16px; padding-right: 16px;">
                                                             <h1 style="Margin-bottom: 8px; Margin-left: 0; Margin-right: 0; Margin-top: 20px; color: #ffffff; font-weight: bold; padding: 0; font-size: 32px; line-height: 42px; margin-bottom: 4px;">Informasi Pemesanan</h1>
                                                             <p style="font-family: Helvetica, Arial, sans-serif; color: #ffffff; font-size: 19px; line-height: 27px; mso-line-height-rule: exactly; Margin-bottom: 16px; Margin-top: 0; display: block; margin-bottom: 32px;">Pelanggan yang terhormat, pemesanan kamu belum selesai. Silahkan lakukan pembayaran sebelum tanggal jatuh tempo pada {{ order.expired_at|date('l, d F Y H:i') }}</p>
                                                             <table style="border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; display: table; margin-left: auto; margin-right: auto;" cellspacing="0" cellpadding="0" border="0" align="center">
                                                                 <tbody>
                                                                     <tr>
                                                                         <td style="box-sizing: border-box; vertical-align: top; background-color: #2b933f; line-height: 20px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; border-radius: 4px; font-weight: bold; mso-line-height-rule: exactly; text-align: center; font-size: 17px; padding: 13px 22px;"><a target="_blank" href="http://store.rakki.org/finish/{{ order.parameter }}" style="text-decoration: none; line-height: inherit; color: #ffffff;"><span style="text-decoration: none; line-height: inherit; color: #ffffff;">BAYAR SEKARANG</span></a></td>
                                                                     </tr>
                                                                 </tbody>
                                                             </table>
                                                         </td>
                                                     </tr>
                                                 </tbody>
                                             </table>
                                         </div>
                                     <!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
                                     </div>
                                 </td>
                             </tr>
                         </tbody>
                     </table>
                 </div>
                 <!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
             </td>
         </tr>
     </tbody>
    </table>

    <!-- footer_default -->
    <table style="border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; width: 100%;" width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
            <tr>
                <td style="box-sizing: border-box; vertical-align: top; font-size: 0 !important; line-height: 100%; padding-left: 16px; padding-right: 16px; text-align: center; padding-bottom: 32px; background-color: #dbe5ea;">
                    <!--[if (mso)|(IE)]><table width="632" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:632px;Margin:0 auto;"><tbody><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
                    <div style="box-sizing: border-box; display: inline-block; font-size: 0; min-width: 0 !important; vertical-align: top; width: 100%; Margin: 0 auto; max-width: 632px; text-align: center; line-height: inherit;">
                        <table style="border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; width: 100%;" width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td style="box-sizing: border-box; vertical-align: top; min-width: 0 !important; width: 100%; font-size: 0; padding-left: 16px; padding-right: 16px; text-align: center; background-color: #475359; border-radius: 0 0 4px 4px; padding-top: 16px; padding-bottom: 16px; line-height: inherit;">
                                        <!-- col-2-4 -->
                                        <div style="box-sizing: border-box; display: block; font-size: 0; min-width: 0 !important; vertical-align: top; width: 100%; Margin: 0 auto; clear: both; max-width: 600px !important; text-align: center; line-height: inherit;">
                                        <!--[if (mso)|(IE)]><table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align:top;width:600px;Margin:0 auto;"><tbody><tr><td width="400" style="width:400px;line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
                                            <div style="box-sizing: border-box; display: inline-block; font-size: 0; min-width: 0 !important; vertical-align: top; width: 100%; max-width: 400px; line-height: inherit;">
                                                <table style="border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; width: 100%;" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td style="box-sizing: border-box; vertical-align: top; min-width: 100%; width: 100%; padding-bottom: 0; padding-top: 8px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; font-size: 16px; line-height: 23px; mso-line-height-rule: exactly; text-align: left; padding-left: 16px; padding-right: 16px;">
                                                                <p style="font-family: Helvetica, Arial, sans-serif; color: #ffffff; font-size: 16px; line-height: 23px; mso-line-height-rule: exactly; Margin-bottom: 16px; Margin-top: 0; display: block; margin-bottom: 4px;">
                                                                    &copy;2018 Rakki Technocom<br>
                                                                    <small style="font-size: 14px;">Taman Krakatau Blok C5 No.26, Waringinkurung, Serang, Banten 42453, Indonesia</small>
                                                                </p>

                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        <!--[if (mso)|(IE)]></td><td width="200" style="width:200px;line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
                                            <div style="box-sizing: border-box; display: inline-block; font-size: 0; min-width: 0 !important; vertical-align: top; width: 100%; max-width: 200px; line-height: inherit;">
                                                <table style="border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; width: 100%;" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td style="box-sizing: border-box; vertical-align: top; min-width: 100%; width: 100%; padding-bottom: 0; padding-top: 8px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; font-size: 16px; line-height: 23px; mso-line-height-rule: exactly; text-align: right; padding-left: 16px; padding-right: 16px;">
                                                                <p style="font-family: Helvetica, Arial, sans-serif; color: #a7b1b6; font-size: 16px; line-height: 100%; mso-line-height-rule: exactly; Margin-bottom: 16px; Margin-top: 0; display: block; margin-bottom: 0;"><a target="_blank" href="http://store.rakki.org" style="text-decoration: underline; line-height: inherit; color: #ffffff;"><img src="https://careinstitute.dev/themes/careinstitute/assets/images/mail/social-facebook_white.png" alt="" style="-ms-interpolation-mode: bicubic; border: 0; clear: both; line-height: 100%; outline: none; text-decoration: none; height: auto !important; max-width: 24px;" width="24" height="24"></a> &nbsp;&nbsp; <a target="_blank" href="#" style="text-decoration: underline; line-height: inherit; color: #ffffff;"><img src="https://careinstitute.dev/themes/careinstitute/assets/images/mail/social-twitter_white.png" alt="" style="-ms-interpolation-mode: bicubic; border: 0; clear: both; line-height: 100%; outline: none; text-decoration: none; height: auto !important; max-width: 24px;" width="24" height="24"></a> &nbsp;&nbsp; <a target="_blank" href="#" style="text-decoration: underline; line-height: inherit; color: #ffffff;"><img src="https://careinstitute.dev/themes/careinstitute/assets/images/mail/social-instagram_white.png" alt="" style="-ms-interpolation-mode: bicubic; border: 0; clear: both; line-height: 100%; outline: none; text-decoration: none; height: auto !important; max-width: 24px;" width="24" height="24"></a></p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        <!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
                                    </div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--[if (mso)|(IE)]></td></tr></tbody></table><![endif]-->
                </td>
            </tr>
        </tbody>
    </table>
</body>
