<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Vouchers</title>
<style>
@media print {
.noprint {
display: none;
}
.pagebreak {
page-break-after: always;
}
}
</style></head>
<body><table style="display: inline-block; width: 250px; border: 1px solid #ccc; line-height: 110%; font-family: arial; font-size: 12px; margin: 1px;">
<tbody>
<tr>
<td style="text-align: center; color: red; font-size: 13px; border-bottom: 1px #ccc solid;"><b>HOTSPOT VOUCHER</b></td>
</tr>
<tr>
<td>
<table style=" text-align: center; width: 240px; background-color: #fff; line-height: 110%; font-size: 11px;">
<tbody>
<tr style="background-color: #eee;">
<td style="background-color: #fff; width: 33%"><b>PLAN</b></td>
<td style="width: 33%">Speed</td>
<td style="width: 33%">Data</td>
</tr>
<tr>
<td ><b></b></td>
<td>Up to 8Mbps</td>
<td>Unlimited</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td>
<table style=" text-align: center; width: 240px; background-color: #fff; line-height: 110%; font-size: 11px;">
<tbody>
<tr style="background-color: #eee;">
<td style="width: 33%">Time Limit</td>
<td style="width: 33%">Validity</td>
<td style="width: 33%">Price</td>
</tr>
<tr>
<td>{{ order.product_item }}</td>
<td></td>
<td>Rp {{ order.price|number_format }}</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td>
<table style=" text-align: center; width: 240px; background-color: #fff; line-height: 110%; font-size: 12px; border-top: 1px solid #ccc;">
<tbody>
<tr style="color: red; font-size: 11px;">
<td style="width: 50%">Username</td>
<td>Password</td>
</tr>
<tr style="background-color: #fff;">
<td style="color: #888; border: 1px #ccc solid;">{{ order.mikrotik_name }}</td>
<td style="color: #888; border: 1px #ccc solid;">{{ order.mikrotik_password }}</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="text-align: center; font-size:11px;">Call: 0819-0835-2470</td>
</tr>
</tbody>
</table></body></html>

