.block-primary {
    height: 100vh;
    background-size: cover !important;
    background-position: center center;
}

.block-head-news {
    height: 350px;
    position: relative;
    .bg-primary();
    .pd-20();

    &.is-white {
        background: #fff;
        color: @brand-primary;
    }

    .news-action {
        position: absolute;
        bottom: 20px; left: 20px;
    }
}
