.breadcrumb-primary {
    background: #f5f5f5;

    .breadcrumb {
        .mg-b-0();

        li {
            a {
                color: #333;
            }

            &.active {
                color: #333;
            }
        }
    }
}
