.carousel-primary {
    .item {
        height: 100vh;
        background-size: cover !important;
        background-position: center center;
    }
}

.carousel-secondary {
    .item {
        height: 400px;
        background-position: center center;
        background-size: cover !important;
    }
}
