.form-white-cute {
    .form-control {
        border-radius: 0px;
        border-bottom-width: 0px;

        &:first-child {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        &:last-child {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            border-bottom-width: 1px;
        }

        &:hover,
        &:focus {
            box-shadow: none;
        }
    }
}