.list-bordered {
    .pd-l-0();

    li {
        border-bottom: 1px solid @gray-darker;
        list-style: none;
        .pd-t-10();
        .pd-b-10();
        .text-content();

        span {
            font-weight: bold;
            text-transform: uppercase;
            .mg-r-10();
        }

        &:first-child {
            .pd-t-0();
        }

        &:last-child {
            .pd-b-0();
        }
    }
}

.list-icon-primary {
    .text-left();
    .pd-l-0();

    @media(min-width: @screen-tablet) {
        .text-center();
    }

    li {
        float: left;
        list-style: none;

        @media(min-width: @screen-tablet) {
            float: none;
            display: inline-block;
        }

        img {
            // width: 100px;
            width: 69px;

            @media(min-width: @screen-tablet) {
                width: 180px;
            }
        }
    }
}

.list-footer-image {
    .pd-l-0();
    .mg-b-0();
    .mg-t-30();
    .text-center();

    @media(min-width: @screen-desktop) {
        .text-right();
    }



    li {
        vertical-align: middle;
        display: inline-block;
        list-style: none;
        .mg-l-10();

        &:first-child {
            .mg-l-0();
        }

        img {
            height: 80px;
        }
    }
}
