#modalBookDownload {
    .modal-content {
        background: fade(#000, 75%);

        .modal-header {
            border-bottom: none;
            color: #fff;

            .close {
                color: #fff;
            }
        }
    }

    .form-control {
        background: none;
        box-shadow: none;
        border-color: #fff;
        color: #fff;
    }
}
