.post-target {
    .text-content();
    .pd-b-20();
    .pd-t-20();
    border-bottom: 1px solid @gray-darker;

    .target-number,
    .target-body {
        display: inline-block;
        vertical-align: top;
    }

    .target-number {
        width: 100px;
        font-weight: bold;
        font-size: 28px;
    }

    .target-body {
        width: 85%;
    }
}

.post-news {
    .clearfix();
    .pd-b-20();
    .pd-t-20();
    border-bottom: 1px solid @gray-darker;

    &:first-child {
        .pd-t-0();
    }

    &:last-child {
        border-bottom: 0px;
    }

    .news-thumbnail {
        height: 250px;
        background-position: center center;
        background-size: cover;
        .mg-b-20();

        @media(min-width: @screen-tablet) {
            .mg-b-10();
        }
    }

    .news-meta {
        div {
            float: left;
            .mg-l-10();

            &:first-child {
                .mg-l-0();
            }
        }

        .meta-category {
            ul {
                .pd-0();
                .mg-b-0();

                li {
                    list-style: none;
                    display: inline-block;

                    &:after {
                        content:' ,'
                    }

                    &:last-child {
                        &:after {
                            content: '';
                        }
                    }
                }
            }
        }

        .clearfix();
    }

    .news-title {
        .mg-t-10();
        font-size: 28px;
        font-weight: bold;

        a {
            color: @gray-base;

            &:hover,
            &:focus {
                text-decoration: none;
            }
        }

        // @media(min-width: @screen-tablet) {
        //     .mg-t-20();
        // }
    }

    .news-excerp {
        font-size: 18px;
        line-height: 18*1.616px;

        a {
            color: @brand-danger;
        }
    }
}

.post-news-detail {
    .news-meta {
        div {
            float: left;
            .mg-l-10();

            &:first-child {
                .mg-l-0();
            }
        }

        .meta-category {
            ul {
                .pd-0();
                .mg-b-0();

                li {
                    list-style: none;
                    display: inline-block;

                    &:after {
                        content:' ,'
                    }

                    &:last-child {
                        &:after {
                            content: '';
                        }
                    }
                }
            }
        }

        .clearfix();
    }
}

.post-news-lists {
    .pd-t-20();
    .pd-b-20();
    .clearfix();
    border-bottom: 1px solid @gray-lighter;

    &:first-child {
        .pd-t-20();
    }

    &:last-child {
        border-bottom: 0px;
        .pd-b-0();
    }

    .list-thumbnail {
        width: 100px;
        height: 100px;
        background-position: center center;
        background-size: cover;
    }

    .list-thumbnail,
    .list-body {
        .pull-left();
    }

    .list-body {
        .mg-l-10();

        .body-title {
            a {
                color: @gray-base;

                &:hover,
                &:focus {
                    text-decoration: none;
                }
            }
        }

        .body-meta {
            font-size:12px;
            line-height: 12*1.618px;
        }
    }
}

.post-infographic {
    .infographic-meta {
        .mg-t-10();
        .mg-b-10();
    }

    .infographic-title {
        a {
            color: @gray-base;

            &:hover,
            &:focus {
                text-decoration: none;
            }
        }
    }
}

.post-book {
    width: 200px;
    .mg-l-20();
    .mg-b-20();
    .text-center();
    .pull-left();

    .book-title {
        margin-top: 5px;

        a {
            color: @gray;
            .text-center();
        }
    }

    .book-thumbnail {
        position: relative;

        a {
            position: absolute;
            bottom: 5px;
            right: 10px;
            color: #fff;
            font-size: 21px;

            &:hover,
            &:focus {
                text-decoration: none;
            }
        }
    }

    .book-body {
        .text-center();

        .body-title {
            .mg-t-10();
            margin-bottom: 5px;

            a {
                color: @gray-base;

                &:hover,
                &:focus {
                    text-decoration: none;
                }
            }
        }

        .body-information {
            background: @brand-danger;
            color: #fff;

            label {
                color: #000;
                background: #fff;
            }
        }
    }
}

.post-news-featured {
    .mg-b-20();

    &.bg-primary {
        height: 350px;
        .pd-20();

        .text-muted {
            color: #fff;
        }

        .featured-title {

            a {
                color: #fff;

                &:hover,
                &:focus {
                    text-decoration: none;
                }
            }
        }
    }

    .featured-title {
        a {
            color: @gray-base;
            font-size: 18px;

            &:hover,
            &:focus {
                text-decoration: none;
            }
        }
    }
}

.post-cso {
    a {
        color: #000;

        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
}
