description = "Admin layout"

[UserLogin]

[IsLogin]
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        {% set _meta_title = 'Dashboard - ' ~ this.page.title  %}
        {% set _meta_description = this.page.description ?: this.theme.site_description %}
        {% set _meta_image = this.page.image ? this.page.image|app : this.theme.site_image ? this.theme.site_image.getThumb(1200, 630, 'crop')|app : 'meta-image.png'|media|app %}

        <!-- Place this data between the <head> tags of your website -->
        <title>{{ _meta_title }}</title>
        <meta name="description" content="{{ str_limit(_meta_description, 160) }}">

        <!-- Schema.org markup for Google+ -->
        <meta itemprop="name" content="{{ _meta_title }}">
        <meta itemprop="description" content="{{ str_limit(_meta_description, 300) }}">
        <meta itemprop="image" content="{{ _meta_image }}">

        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@twitter">
        <meta name="twitter:title" content="{{ _meta_title }}">
        <meta name="twitter:description" content="{{ str_limit(_meta_description, 300) }}">

        <!-- Twitter summary card with large image must be at least 280x150px -->
        <meta name="twitter:image:src" content="{{ _meta_image }}">

        <!-- Open Graph data -->
        <meta property="og:title" content="{{ _meta_title }}">
        <meta property="og:url" content="{{ ''|page }}">
        <meta property="og:image" content="{{ _meta_image }}">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">
        <meta property="og:description" content="{{ str_limit(_meta_description, 300) }}">
        <meta property="og:site_name" content="{{ this.theme.site_name }}">

        <!-- Facebook Data -->
        <meta property="fb:app_id" content="">
        <meta property="fb:page_id" content="">

        <link rel="canonical" href="{{ ''|page }}">

        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#333">
        <meta name="apple-mobile-web-app-title" content="{{ this.theme.site_name }}">
        <meta name="application-name" content="{{ this.theme.site_name }}">
        <meta name="msapplication-TileColor" content="#333">
        <meta name="theme-color" content="#333">

        <!-- Google Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,100,300,700,400italic' rel='stylesheet' type='text/css'>

        <!-- App Styles -->
        <link href="{{ [
            '@framework.extras',
            '../../bower_components/select2/dist/css/select2.css',
            '../../bower_components/select2-bootstrap-theme/dist/select2-bootstrap.css',
            '../../bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css',

            'assets/bracket/css/style.default.css',
            'assets/bracket/css/style.inverse.css',
            'assets/less/_helpers.less',
            'assets/less/admin.less',
        ]|theme }}" rel="stylesheet">

        {% styles %}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>

    <section>
      <div class="leftpanel">
        <div class="logopanel">
            <h1><span>[</span> RAKKI <span>]</span></h1>
        </div><!-- logopanel -->

        <div class="leftpanelinner">
          <h5 class="sidebartitle">MAIN MENU</h5>
          <ul class="nav nav-pills nav-stacked nav-bracket">
            <li class="{{ this.page.activePage == 'dashboard' ? 'active' : '' }}">
                <a href="{{ 'admin/dashboard'|page }}">
                    <i class="fa fa-home"></i> <span>Dashboard</span>
                </a>
            </li>
            <li class="{{ this.page.activePage == 'commerce' ? 'active' : '' }}">
                <a href="{{ 'admin/commerce-index'|page }}">
                    <i class="fa fa-shopping-cart"></i> <span>Pemesanan</span>
                </a>
            </li>
            <li class="{{ this.page.activePage == 'user' ? 'active' : '' }}">
                <a href="{{ 'admin/user-index'|page }}">
                    <i class="fa fa-users"></i> <span>User</span>
                </a>
            </li>
            <li class="{{ this.page.activePage == 'master' ? 'active' : '' }}">
                <a href="{{ 'admin/master-user-index'|page }}">
                    <i class="fa fa-database"></i> <span>Master</span>
                </a>
            </li>
          </ul>

          <h5 class="sidebartitle">AKUN SAYA</h5>
          <ul class="nav nav-pills nav-stacked nav-bracket">
            <li>
                <a href="{{ 'home'|page }}" target="_blank">
                    <i class="fa fa-crosshairs"></i> <span>Website</span>
                </a>
            </li>
            <li>
                <a href="#" data-request="UserLogin::onLogout">
                    <i class="fa fa-sign-out"></i> <span>Keluar</span>
                </a>
            </li>
          </ul>
        </div><!-- leftpanelinner -->
      </div><!-- leftpanel -->

      <div class="mainpanel">
        <div class="headerbar">
          <a class="menutoggle"><i class="fa fa-bars"></i></a>
        </div><!-- header-right -->

        <div class="pageheader">
          <h2><i class="fa {{ this.page.icon }}"></i> {{ this.page.title }}</h2>
        </div>

        <div class="contentpanel">
            {% page %}
        </div>
      </div><!-- mainpanel -->
    </section>

    <script src="{{ [
        '@jquery',
        '@framework',
        '@framework.extras',

        '../../bower_components/bootstrap/js/transition.js',
        '../../bower_components/bootstrap/js/alert.js',
        '../../bower_components/bootstrap/js/button.js',
        '../../bower_components/bootstrap/js/carousel.js',
        '../../bower_components/bootstrap/js/collapse.js',
        '../../bower_components/bootstrap/js/dropdown.js',
        '../../bower_components/bootstrap/js/modal.js',
        '../../bower_components/bootstrap/js/tooltip.js',
        '../../bower_components/bootstrap/js/popover.js',
        '../../bower_components/bootstrap/js/tab.js',

        '../../bower_components/select2/dist/js/select2.js',
        '../../bower_components/datatables.net/js/jquery.dataTables.js',
        '../../bower_components/datatables.net-bs/js/dataTables.bootstrap.js',

        'assets/bracket/js/custom.js',
    ]|theme }}"></script>

    <script>
    $(document).ready(function(){
        $('#dTables').DataTable();

        $('select.form-control').select2({
            'theme': 'bootstrap'
        });
    });

    function triggerSelect2() {
        $('select.form-control').select2({
            'theme': 'bootstrap'
        });
    }

    function triggerSelect2Tags() {
        $('select.form-control').select2({
            tags: true,
            'theme': 'bootstrap',
        });
    }
    </script>

    {% scripts %}

    {% partial 'tracker' %}

    {% partial 'flash' %}
    </body>
</html>
