description = "Default layout"

==
function onStart() {
	$this->page->vt_client = env('MIDTRANS_CLIENT_KEY', 'VT-client-_Vrsi5RRLYzo4AE-');
	$this['midtrans_mode'] = env('MIDTRANS_MODE');
}
==
<!DOCTYPE html>
<html>
    <head>
        {% partial 'head' %}

        {% styles %}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="{{ this.page.noPadding ? 'pd-t-0' : '' }}">
        <div class="body-outter">
            {% partial 'header' %}

            {% page %}
        </div>

        {% partial 'footer' %}

        <script src="{{ [
            '@jquery',
            '@framework',
            '@framework.extras',

            '../../bower_components/bootstrap/js/transition.js',
            '../../bower_components/bootstrap/js/alert.js',
            '../../bower_components/bootstrap/js/button.js',
            '../../bower_components/bootstrap/js/carousel.js',
            '../../bower_components/bootstrap/js/collapse.js',
            '../../bower_components/bootstrap/js/dropdown.js',
            '../../bower_components/bootstrap/js/modal.js',
            '../../bower_components/bootstrap/js/tooltip.js',
            '../../bower_components/bootstrap/js/popover.js',
            '../../bower_components/bootstrap/js/tab.js',

            '../../bower_components/fastclick/lib/fastclick.js',
            '../../bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js',

            'assets/js/app.js']|theme }}"></script>

        {% scripts %}

        {% partial 'tracker' %}

        {% partial 'flash' %}

    </body>
</html>
