<label class="is-required">Provider</label>
<select name="product_id" class="form-control">
    <option value="">-- Pilih --</option>
    {% for product in products %}
    <option value="{{ product.id }}" {{ item.product_id == product.id ? 'selected' : '' }}>{{ product.name }}</option>
    {% endfor %}
</select>
