{% if is_internet or item.product.category.is_mikrotik %}
<div class="form-group mg-b-20" style="margin-bottom: 20px">
	<label  class="is-required">Profiler Mikrotik</label>
	<input type="text" class="form-control" name="name_mikrotik" value="{{ item.name_mikrotik }}">
</div>
{% endif %}
