<div class="form-group">
    <label class="is-required">Product</label>
    <select name="category_id" class="form-control"
        data-request="AdminProviderPrice::onChangeProduct"
        data-request-update="'admin/price/form-provider': '[data-target-providers]', 'admin/price/form-internet': '[data-target-is-internet]'">
        <option value="">-- Pilih --</option>
        {% for category in categories %}
        <option value="{{ category.id }}" {{ item.product_id == category.id ? 'selected' : '' }}>{{ category.name }}</option>
        {% endfor %}
    </select>
</div>

<div class="form-group" data-target-providers>
    {% partial 'admin/price/form-provider' %}
</div>

<div class="form-group">
    <label class="is-required">Nama</label>
    <input name="name" type="text" class="form-control" value="{{ item.name }}">
</div>

<div data-target-is-internet>
    {% if item.product.category.is_mikrotik %}
        {% partial 'admin/price/form-internet' %}
    {% endif %}
</div>

<div class="form-group">
    <label class="is-required">Harga</label>
    <input name="price" type="text" class="form-control" value="{{ item.price }}">
</div>

<div class="form-group">
    <label class="is-required">Status</label>
    <select name="is_published" class="form-control">
        <option value="">-- Pilih --</option>
        <option value="1" {{ item.is_published == 1 ? 'selected' : '' }}>Terlihat</option>
        <option value="0" {{ item.is_published == 0 ? 'selected' : '' }}>Tersembunyi</option>
    </select>
</div>
