title = "Home"
url = "/order"
layout="default"
is_hidden = 0

[Commerce]
==
{% set commerces = Commerce.getAll %}
<div class="container">
    <div class="page-header">
        <h2>Pemesanan</h2>
    </div>
    <div class="text-right">
        <a href="{{ 'commerce/track'|page }}" class="btn btn-primary">
            <i class="fa fa-search"></i> CARI PEMESANAN
        </a>
    </div>
    <hr>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Order No.</th>
                <th>Transaksi</th>
                <th>Nomor Hp</th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody>
            {% for commerce in commerces %}
            <tr>
                <td>{{ commerce.order_no }}</td>
                <td>{{ commerce.created_at|date('l, d F Y H:i') }}</td>
                <td>{{ commerce.order_phone|phone_mask }}</td>
                <td>
                    {% if commerce.status == 'hold' %}
                    <label class="label label-info">Menunggu Pemesanan</label>
                    {% endif %}

                    {% if commerce.status == 'waiting' %}
                    <label class="label label-warning">Menunggu Pembayaran</label>
                    {% endif %}

                    {% if commerce.status == 'success' or commerce.status == 'settlement' %}
                    <label class="label label-success">Berhasil</label>
                    {% endif %}

                    {% if commerce.status == 'cancel' %}
                    <label class="label label-danger">Dibatalkan</label>
                    {% endif %}

                    {% if commerce.status == 'expired' %}
                    <label class="label label-danger">Tidak berlaku</label>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if commerces.lastPage %}
        {% partial 'pagination' products=commerces %}
    {% endif %}
</div>
