title = "Home"
url = "/order/track"
layout="default"
is_hidden = 0

[Commerce]
==
<div class="container">
    <div class="page-header">
        <h2>Cari Pemesanan</h2>
    </div>

    <form data-request="Commerce::onTrack"
        data-request-update="'commerce/order-list': '[data-target-orders]'"
        data-request-flash>
        <div class="row">
            <div class="col-xs-8">
                <input type="text" class="form-control" name="phone" placeholder="Nomor Telefon...">
            </div>
            <div class="col-xs-4">
                <button class="btn btn-primary btn-block" type="submit" data-attach-loading>LACAK</button>
            </div>
        </div>
    </form>

    <div class="mg-t-20" data-target-orders></div>
</div>
