//
// Load all required stylesheets
//
@import '_all';

//
// Your app styles
//
body {
    padding-top: 60px;

    @media(min-width: @screen-tablet) {
        padding-bottom: 40px;
    }

    &.modal-open {
        .body-outter {
            position: inherit;
            z-index: 0;
        }
    }
}

.body-outter {
    background-color: #fff;
    position: relative;
    z-index: 12;
}

.block-outter {
   /* width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;*/
    padding-top: 50px;
    padding-bottom: 50px;

    @media(min-width: @screen-tablet) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.block-service {
    color: #fff;

    .service-body {
        .pd-20();
        background-color: fade(#000, 35%);
        border-radius: 5px;
    }
}


footer {
    background-color: @brand-primary;
    color: #fff;
    font-size: 14px;
    .pd-t-10();
    .pd-b-10();

    @media(min-width: @screen-tablet) {
        z-index: 3;
        position: fixed;
        bottom: 0; left: 0;
        width: 100%;
    }
}
