title = "Lihat Pemesanan"
url = "/admin/commerce/view/:parameter"
layout="admin"
is_hidden = 0

[AdminCommerceDetail]
parameter="{{ :parameter }}"
==
function onStart() {
    $this->page->activePage = 'commerce';
    $this->page->icon       = 'fa-shopping-cart';
    $this->page->title      = 'Detail Pemesanan';
}
==
{% set categories = AdminProduct.getCategory %}
<div class="panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-6">
                <a href="{{ 'admin/commerce-index'|page }}" class="btn btn-primary-alt">
                    <i class="fa fa-chevron-left"></i> KEMBALI
                </a>
            </div>
            <div class="col-xs-6 text-right">
                <a href="{{ 'checkout/invoice'|page({parameter: order.parameter}) }}" class="btn btn-danger" target="_blank">
                    RINGKASAN PEMESANAN
                </a>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Rincian Pemesanan</h3>
    </div>

    <div class="panel-body" style="padding:0px">
        <table class="table" style="margin-bottom: 0px">
            <tr>
                <th>Nomor Pemesanan</th>
                <td>{{ order.order_no }}</td>
            </tr>
            <tr>
                <th>Status Pemesanan</th>
                <td>
                    {% if order.status == 'hold' %}
                    <span class="text-info">Menunggu Pemesanan</span>
                    {% endif %}

                    {% if order.status == 'waiting' %}
                    <span class="text-warning">Menunggu Pembayaran</span>
                    {% endif %}

                    {% if order.status == 'success' or order.status == 'settlement' %}
                    <span class="text-success">Berhasil</span>
                    {% endif %}

                    {% if order.status == 'cancel' %}
                    <span class="text-danger">Dibatalkan</span>
                    {% endif %}

                    {% if order.status == 'expired' %}
                    <span class="text-danger">Tidak berlaku</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Tanggal Pemesanan</th>
                <td>{{ order.created_at|date('l, d F Y H:i') }}</td>
            </tr>
            <tr>
                <th>Tanggal Jatuh Tempo</th>
                <td>{{ order.expired_at|date('l, d F Y H:i') }}</td>
            </tr>
            <tr>
                <th>Produk</th>
                <td>{{ order.product_category }}</td>
            </tr>
            <tr>
                <th>Paket</th>
                <td>{{ order.product_name }}</td>
            </tr>
            <tr>
                <th>Item</th>
                <td>{{ order.product_item }}</td>
            </tr>
            <tr>
                <th>Harga</th>
                <td>Rp. {{ order.price|number_format }}</td>
            </tr>
        </table>
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Informasi Pemesanan</h3>
    </div>

    <div class="panel-body" style="padding:0px">
        <table class="table" style="margin-bottom: 0px">
            <tr>
                <th>Email</th>
                <td>{{ order.order_email }}</td>
            </tr>
            <tr>
                <th>No. Telefon</th>
                <td>{{ order.order_phone }}</td>
            </tr>
        </table>
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Log Transaksi</h3>
    </div>

    <div class="panel-body" style="padding:0px">
        <table class="table" style="margin-bottom: 0px">
            {% for key, log in order.logs %}
            <tr>
                <td>{{ log.created_at|date('l, d F Y h:i') }}</td>
                <td class="text-right">
                    {% if key == 0 %}
                        Pemesanan di buat
                    {% else %}
                        Pemesanan berubah menjadi {{ log.body.status }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            {% if order.status != 'waiting' or order.status != 'hold' %}
            <tr>
                <td>{{ order.logs.last.created_at|date('l, d F Y h:i') }}</td>
                <td class="text-right">Pemesanan Selesai</td>
            </tr>
            {% endif %}
        </table>
    </div>
</div>

{% put styles %}
<style>
.table tr td,
.table tr th {
    width: 50%;
}
</style>
{% endput %}
