title = "Commerce"
url = "/admin/commerce"
layout="admin"
is_hidden = 0

[AdminCommerce]
==
function onStart() {
    $this->page->activePage = 'commerce';
    $this->page->icon       = 'fa-shopping-cart';
    $this->page->title      = 'Pemesanan';
}
==
{% set commerces = AdminCommerce.getAll %}
<div class="panel">
    <div class="panel-body pd-0">
        <table id="dTables" class="table table-striped mg-b-0">
            <thead>
                <tr>
                    <th>No. Order</th>
                    <th>Item</th>
                    <th>Harga</th>
                    <th>Status</th>
                    <th class="text-right"></th>
                </tr>
            </thead>

            <tbody>
                {% for commerce in commerces %}
                <tr>
                    <td>{{ commerce.order_no }}</td>
                    <td>{{ commerce.item.name }}</td>
                    <td>Rp. {{ commerce.price|number_format }}</td>
                    <td>
                        {% if commerce.status == 'hold' %}
                        <span class="text-info">Menunggu Pemesanan</span>
                        {% endif %}

                        {% if commerce.status == 'waiting' %}
                        <span class="text-warning">Menunggu Pembayaran</span>
                        {% endif %}

                        {% if commerce.status == 'success' or commerce.status == 'settlement' %}
                        <span class="text-success">Berhasil</span>
                        {% endif %}

                        {% if commerce.status == 'cancel' %}
                        <span class="text-danger">Dibatalkan</span>
                        {% endif %}

                        {% if commerce.status == 'expired' %}
                        <span class="text-danger">Tidak berlaku</span>
                        {% endif %}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown">
                                Pilihan <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                {% if commerce.status != 'hold' %}
                                <li><a href="{{ 'admin/commerce-view'|page({parameter: commerce.parameter}) }}">Lihat</a></li>
                                {% endif %}
                                {% if commerce.status =='waiting' %}
                                <li class="divider"></li>
                                <li>
                                    <a href="#" data-request="AdminCommerce::onCancel"
                                        data-request-confirm="Apakah kamu yakin menghapus produk ini?"
                                        data-request-data="'parameter': '{{ commerce.parameter }}'"
                                        data-request-flash data-attach-loading><span class="text-danger">Batalkan</span>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
