title = "Tambah Provider"
url = "/admin/master/provider/edit/:parameter"
layout="admin"
is_hidden = 0

[AdminProvider]

[AdminProviderDetail]
parameter="{{ :parameter }}"
==
function onStart() {
    $this->page->activePage 	= 'master';
    $this->page->icon 			= 'fa-database';
    $this->page->title 			= 'Master Data Provider';
    $this->page->activeMaster 	= 'master-provider';
}
==
{% set categories = AdminProvider.getCategory %}
<div role="tabpanel">
	{% partial 'admin/preheader-master' %}

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active">
			<form data-request="AdminProviderDetail::onSave" data-request-flash>
				{% partial 'admin/provider/form' categories=categories %}
				<hr>
				<button class="btn btn-primary btn-block" type="submit" data-attach-loading>SUBMIT</button>
			</form>
		</div>
	</div>
</div>
