title = "Tambah Produk"
url = "/admin/master/product/add"
layout="admin"
is_hidden = 0

[AdminProduct]
==
function onStart() {
    $this->page->activePage 	= 'master';
    $this->page->icon 			= 'fa-database';
    $this->page->title 			= 'Master Data Produk';
    $this->page->activeMaster 	= 'master-produk';
}
==
<div role="tabpanel">
	{% partial 'admin/preheader-master' %}

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active">
			<form data-request="AdminProduct::onSave" data-request-flash>
				{% partial 'admin/product/form' %}
				<hr>
				<button class="btn btn-primary btn-block" type="submit" data-attach-loading>SUBMIT</button>
			</form>
		</div>
	</div>
</div>
