title = "Users"
url = "/admin/master/user"
layout="admin"
is_hidden = 0

[AdminUser]
==
function onStart() {
    $this->page->activePage 	= 'master';
    $this->page->icon 			= 'fa-database';
    $this->page->title 			= 'Master Data User';
    $this->page->activeMaster 	= 'master-user';
}
==
{% set users = AdminUser.getAll %}
<div role="tabpanel">
	{% partial 'admin/preheader-master' %}

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active">
			{% if userLogin.is_admin %}
			<div class="text-right">
				<a  class="btn btn-sm btn-primary"
					data-request="AdminUser::onRequestNew"
					data-request-success="$('#modalUser').modal('show')"
					data-request-update="'admin/user/modal-user': '[data-target-modal-user]'"
					data-attach-loading>
					<i class="fa fa-plus-circle fa-fw"></i> TAMBAH
				</a>
			</div>
			<hr>
			{% endif %}

			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>Email</th>
							<th>Tanggal Bergabung</th>
							<th>Status</th>
							<th>Superadmin</th>
							<th></th>
						</tr>
					</thead>

					<tbody>
						{% for user in users %}
						<tr>
							<td>{{ user.email }}</td>
							<td>{{ user.created_at|date('l, d F Y') }}</td>
							<td>
								{% if user.is_active %}
								<span class="text-success"><i class="fa fa-check-circle"></i> Aktif</span>
								{% else %}
								<span class="text-muted"><i class="fa fa-times-circle"></i> Nonaktif</span>
								{% endif %}
							</td>
							<td>
								{% if user.is_admin %}
								<span class="text-success"><i class="fa fa-check-circle"></i> Ya</span>
								{% else %}
								<span class="text-muted"><i class="fa fa-times-circle text-muted"></i> Tidak</span>
								{% endif %}
							</td>
							<td>
								{% if userLogin.is_admin %}
								<div class="text-right">
									<div class="dropdown">
										<button type="button" class="btn btn-xs btn-info" data-toggle="dropdown">Options <span class="caret"></span></button>
										<ul class="dropdown-menu pull-right">
											<li>
												<a href="#"
													data-request="AdminUser::onRequestUpdatePassword"
													data-request-data="'parameter': '{{ user.parameter }}'"
													data-request-success="$('#modalUser').modal('show')"
													data-request-update="'admin/user/modal-user': '[data-target-modal-user]'"
													data-attach-loading>Ubah Password</a>
											</li>
											<li>
												<a href="#"
													data-request="AdminUser::onDelete"
													data-request-data="'parameter': '{{ user.parameter }}'"
													data-request-confirm="Hapus produk ini?"
													data-request-flash data-attach-loading>
													Hapus
												</a>
											</li>
											<li class="divider"></li>
											<li>
												<a href="#"
													data-request="AdminUser::onSetActive"
													data-request-data="'parameter': '{{ user.parameter }}'"
													data-request-confirm="{{ user.is_active ? 'Nonaktifkan user' : 'Aktifkan user' }} ini?"
													data-request-flash data-attach-loading>
													{{ user.is_active ? 'Nonaktifkan User' : 'Aktifkan User' }}
												</a>
											</li>
										</ul>
									</div>
								</div>
								{% endif %}

								{% if not userLogin.is_admin and userLogin.id == user.id %}
								<div class="text-right">
									<div class="dropdown">
										<button type="button" class="btn btn-xs btn-info" data-toggle="dropdown">Options <span class="caret"></span></button>
										<ul class="dropdown-menu pull-right">
											<li>
												<a href="#"
													data-request="AdminUser::onRequestUpdatePassword"
													data-request-data="'parameter': '{{ userLogin.parameter }}'"
													data-request-success="$('#modalUser').modal('show')"
													data-request-update="'admin/user/modal-user': '[data-target-modal-user]'"
													data-attach-loading>Ubah Password</a>
											</li>
										</ul>
									</div>
								</div>
								{% endif %}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modalUser">
	<div class="modal-dialog" data-target-modal-user>
	</div>
</div>
