title = "Produk"
url = "/admin/master/product"
layout="admin"
is_hidden = 0

[AdminProduct]
==
function onStart() {
    $this->page->activePage 	= 'master';
    $this->page->icon 			= 'fa-database';
    $this->page->title 			= 'Master Data Produk';
    $this->page->activeMaster 	= 'master-produk';
}
==
{% set ss = AdminProduct.getAll %}
<div role="tabpanel">
	{% partial 'admin/preheader-master' %}

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active">
			<div class="table-responsive">
				{% partial 'admin/preheader-master-button' url='admin/master-product-add'|page %}
				<hr>
				<table class="table">
					<thead>
						<tr>
							<th>Nama</th>
							<th>Status</th>
							<th></th>
						</tr>
					</thead>

					<tbody>
						{% for product in ss %}
						<tr>
							<td>{{ product.name }}</td>
							<td>
								{% if product.is_published %}
								<span class="text-success"><i class="fa fa-check-circle"></i> Terlihat</span>
								{% else %}
								<span class="text-success"><i class="fa fa-times-circle text-muted"></i> Tersembunyi</span>
								{% endif %}
							</td>
							<th>
								<div class="text-right">
									<div class="dropdown">
										<button type="button" class="btn btn-xs btn-info" data-toggle="dropdown">Options <span class="caret"></span></button>
										<ul class="dropdown-menu pull-right">
											<li>
												<a href="{{ 'admin/master-product-edit'|page({parameter: product.parameter}) }}">Ubah</a>
											</li>
											<li>
												<a href="#"
													data-request="AdminProduct::onDelete"
													data-request-data="'parameter': '{{ product.parameter }}'"
													data-request-confirm="Hapus produk ini?"
													data-request-flash data-attach-loading>
													Hapus
												</a>
											</li>
										</ul>
									</div>
								</div>
							</th>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
