title = "Ubah Harga Provider"
url = "/admin/master/provider-price/edit/:parameter"
layout="admin"
is_hidden = 0

[AdminProviderPrice]

[AdminProviderPriceDetail]
parameter="{{ :parameter }}"
==
function onStart() {
    $this->page->activePage 	= 'master';
    $this->page->icon 			= 'fa-database';
    $this->page->title 			= 'Master Data Harga Provider';
    $this->page->activeMaster 	= 'master-nominal';
}
==
{% set categories   = AdminProviderPrice.getCategories %}
<div role="tabpanel">
	{% partial 'admin/preheader-master' %}

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active">
			<form data-request="AdminProviderPriceDetail::onSave" data-request-flash>
				{% partial 'admin/price/form' categories=categories %}
				<hr>
				<button class="btn btn-primary btn-block" type="submit" data-attach-loading>SUBMIT</button>
			</form>
		</div>
	</div>
</div>
