title     = "User"
url       = "/admin/user"
layout    ="admin"
is_hidden = 0

[Catalog]

[AdminUserMikrotik]
==
function onStart() {
    $this->page->activePage = 'user';
    $this->page->icon       = 'fa-users';
    $this->page->title      = 'Akun Mikrotik';
}
==
{% set categories = Catalog.getCategories %}
{% set commerces  = AdminUserMikrotik.getAll %}

<div class="panel panel-body">
    <div class="text-right">
        <a href="#modalCreateUser" class="btn btn-primary" data-toggle="modal">
            <i class="fa fa-plus-circle"></i> TAMBAH
        </a>
    </div>
</div>

<div class="panel">
    <div class="panel-body pd-0">
        <table id="dTables" class="table table-striped mg-b-0">
            <thead>
                <tr>
                    <th>No. Order</th>
                    <th>Tanggal Dibuat</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th class="text-right"></th>
                </tr>
            </thead>

            <tbody>
                {% for commerce in commerces %}
                <tr>
                    <td>
                        {{ commerce.order_no }} <br>
                        <small class="text-muted">{{ commerce.product_category }} / {{ commerce.product_name }} / {{ commerce.product_item }}</small>
                    </td>
                    <td>{{ commerce.created_at|date('l, d F Y H:i:s') }}</td>
                    <td>{{ commerce.mikrotik_name }}</td>
                    <td>{{ commerce.mikrotik_password }}</td>
                    <td class="text-right">
                        <a href="{{ 'admin/commerce-view'|page({parameter: commerce.parameter}) }}" class="btn btn-primary btn-xs">DETAIL</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modalCreateUser">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title text-center">BUAT AKUN MIKROTIK</h4>
            </div>
            <div class="modal-body">
                <form data-request="onSave" data-request-flash>
                    <div class="form-group">
                        <label>Jenis Produk</label>
                        <select name="category_id" class="form-control"
                            data-request="Catalog::onGetProduct"
                            data-request-update="'catalog/list-product': '[data-target-products]', 'catalog/list-product-item': '[data-target-product-items]', 'catalog/list-product-item-price': '[data-target-product-item-price]'">
                            <option value="">-- Pilih Produk --</option>
                            {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group" data-target-products>
                        {% partial 'catalog/list-product' %}
                    </div>

                    <div class="form-group" data-target-product-items>
                        {% partial 'catalog/list-product-item'%}
                    </div>

                    <div class="form-group" data-target-product-item-price>
                        {% partial 'catalog/list-product-item-price'%}
                    </div>

                    <div class="form-group">
                        <label class="is-required">No. Telefon</label>
                        <input name="phone" type="text" class="form-control" placeholder="08xxx">
                    </div>

                    <div class="form-group">
                        <label class="is-required">Email</label>
                        <input name="email" type="email" class="form-control">
                    </div>

                    <hr>
                    <button class="btn btn-primary btn-block" type="submit" data-attach-loading>SIMPAN</button>
                </form>
            </div>
        </div>
    </div>
</div>
